Source: carta-backend
Section: science
Priority: optional
Maintainer: Adrianna Pińska <adrianna.pinska@gmail.com>
Uploaders: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 cmake,
 debhelper (>=11~),
 dh-exec,
 carta-casacore-dev (>= 3.4.0+5.8.0+2021.2.4),
 libzfp-dev,
 libcfitsio-dev,
 libcurl4-openssl-dev | libcurl4-gnutls-dev,
 libgrpc-dev,
 libgrpc++-dev,
 libgsl-dev,
 libhdf5-dev,
 libprotobuf-dev,
 libpugixml-dev,
 libtbb-dev,
 libzstd-dev,
 pkg-config,
 protobuf-compiler-grpc,
 wcslib-dev,
 uuid-dev
Standards-Version: 4.5.0
Homepage: https://github.com/CARTAvis/carta-backend
Vcs-Browser: https://github.com/idia-astro/carta-backend-deb
Vcs-Git: https://github.com/idia-astro/carta-backend-deb.git

Package: carta-backend
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: casacore-data
Conflicts: carta-backend-beta
Description: CARTA - Cube Analysis and Rendering Tool for Astronomy
 CARTA is a next generation image visualization and analysis tool
 designed for ALMA, VLA, and SKA pathfinders.
 .
 This package provides the release version of the backend component.
